/*
NAVBAR color adjustments
*/

.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
color: #cc0033;  /*Sets the text hover color on navbar*/
}

.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active >   
 a:hover, .navbar-default .navbar-nav > .active > a:focus {
color: #cc0033; /*BACKGROUND color for active*/
background-color: white;
}

.navbar-default {
    background-color: #fff;
    /*color: #5f6a72;*/
}

.navbar-default .navbar-nav > li > a {
   /*color: #5f6a72; Change active text color here*/
}

/*.navbar-brand {
    font-size: 20px;
    color: black;
}*/

.dropdown-header {
  color: #606060;
}

/*autoexpand on hover*/
@media (min-width: 979px) {
  ul.nav li.dropdown:hover > ul.dropdown-menu {
    display: block;
  }
}



/*
GLobal FONT adjustments
*/

body {
  overflow-x: hidden;
  padding: 0;
  font-family: "Maven Pro", "Helvetica Neue", Helvetica, sans-serif;
  font-size: 15px;
  font-weight: 400;
  line-height: 1.45;
  /*color: #555;*/
  text-align: justify;
}

html {
  font-family: "Maven Pro", Helvetica, Arial, sans-serif;
  font-size: 1rem; /* 15px */
  /*font-family: "PT Serif", Georgia, "Times New Roman", serif;*/
}

h1, h2, h3, h4, h5, h6 {
  font-family: "PT Sans", Helvetica, Arial, sans-serif;
  font-weight: 400;
  color: #a00;
  letter-spacing: -.025rem;
}

h5bio {
  color: #5f6a72;
  text-align: right;
}


/*
Add rounded corners for project images
*/

#rcorners {
    border-radius: 5px;
    border: 2px #DCDCDC;
    padding: 0px; 
}





/*
Add padding around body of page
*/

.main-container {
    padding-left: 50px;
    padding-right: 50px
}