<!-- Target for toggling the sidebar `.sidebar-checkbox` is for regular
     styles, `#sidebar-checkbox` for behavior. -->
<input type="checkbox" class="sidebar-checkbox" id="sidebar-checkbox">

<!-- Toggleable sidebar -->
<div class="sidebar" id="sidebar">
  <div class="sidebar-item">
    <h2>Joseph V. Casillas</h2>
    <p>PhD Candidate</br>
    University of Arizona</p>


    <a href="mailto:jvcasill@email.arizona.edu"><span class="mail me" title="email"><img src="{{ page.url.framework }}/assets/images/icons/mail_white.png" alt="info image" height="30" width="26" style="float:left;"></span></a>
    <a alt="youtube" href="http://www.youtube.com/jvcasill" target='_new'><span class="showtooltip" title="youtube channel"><img src="{{ page.url.framework }}/assets/images/icons/youtube_white2.png" alt="info image" height="30" width="30" style="float:left;"></span></a>
    <a alt="twitter" href="http://twitter.com/jvcasill/" target='_new'><span class="showtooltip" title="my twitter feed"><img src="{{ page.url.framework }}/assets/images/icons/twitter_white.png" alt="bird image" height="30" width="30" style="float:left;"></span></a>
    <a alt="facebook" href="http://facebook.com/jvcasill/" target='_new'><span class="showtooltip" title="more info"><img src="{{ page.url.framework }}/assets/images/icons/fb_white.png" alt="info image" height="30" width="30" style="float:left;"></span></a>
    <a alt="github" href="http://github.com/jvcasill/" target='_new'><span class="showtooltip" title="my code"><img src="{{ page.url.framework }}/assets/images/icons/github_white2.png" alt="github image" height="30" width="30" style="float:left;"></span></a>
    <a alt="researchgate" href="https://www.researchgate.net/profile/Joseph_Casillas" target='_new'><span class="showtooltip" title="researchgate"><img src="{{ page.url.framework }}/assets/images/icons/rg_white.png" alt="rss image" height="30" width="30" style="float:left;"></span></a></br>
  </div>

  <nav class="sidebar-nav">
    <a class="sidebar-nav-item" href="/">
      <i class='fa fa-home'> </i>  home
    </a>
    <!-- <a class="sidebar-nav-item" href="{{ site.github.repo }}/archive/v{{ site.version }}.zip">
      <i class='fa fa-download'> </i>  Download
    </a> -->
    {{# site.sidebar }}
    <a class="sidebar-nav-item" href="{{ href }}">
      <i class='fa fa-{{ icon }}'> </i>  {{ item }}
    </a>
    {{/ site.sidebar }}
    <!-- <span class="sidebar-nav-item">Currently v{{ site.version }}</span> -->
  </nav>

  <div class="sidebar-item">
    <p>
      &copy; 2015. All rights reserved.
    </p>
  </div>
</div>
