
/* base variables */

/* Edit the CSS properties in this file to create a custom
   Distill theme. Only edit values in the right column
   for each row; values shown are the CSS defaults.
   To return any property to the default,
   you may set its value to: unset
   All rows must end with a semi-colon.                      */

/* Optional: embed custom fonts here with `@import`          */
/* This must remain at the top of this file.                 */

@import url('https://fonts.googleapis.com/css2?family=Roboto');
@import url('https://fonts.googleapis.com/css2?family=Fira+Mono');
@import url('https://fonts.googleapis.com/css2?family=Montserrat');
@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

html {
  /*-- Main font sizes --*/
  --title-size:      40px;
  --body-size:       1.06rem;
  --code-size:       14px;
  --aside-size:      12px;
  --fig-cap-size:    13px;
  /*-- Main font colors --*/
  --title-color:     #cc0033; /* light = "#6ec6ff" dark = "#0069c0" */
  --header-color:    #5f6a72;
  --body-color:      #5f6a72;
  --aside-color:     #5f6a72;
  --fig-cap-color:   #5f6a72;
  /*-- Specify custom fonts ~~~ must be imported above   --*/
  --heading-font:    'Montserrat', sans-serif; /* edited */
  --mono-font:       'Fira Mono', monospace;   /* edited */
  --body-font:       'Roboto', sans-serif;     /* edited */
  --navbar-font:     'Lato', sans-serif;       /* edited */
}

/*-- ARTICLE METADATA --*/
d-byline {
  --heading-size:    0.6rem;
  --heading-color:   rgba(0, 0, 0, 0.5);
  --body-size:       0.8rem;
  --body-color:      rgba(0, 0, 0, 0.8);
}

/*-- ARTICLE TABLE OF CONTENTS --*/
.d-contents {
  --heading-size:    18px;
  --contents-size:   13px;
}

/*-- ARTICLE APPENDIX --*/
d-appendix {
  --heading-size:    15px;
  --heading-color:   rgba(0, 0, 0, 0.65);
  --text-size:       0.8em;
  --text-color:      rgba(0, 0, 0, 0.5);
}

/*-- WEBSITE HEADER + FOOTER --*/
/* These properties only apply to Distill sites and blogs  */

.distill-site-header {
  --title-size:       20px;
  --text-color:       #5f6a72;
  --text-size:        20px;
  --hover-color:      #cc0033;
  --bkgd-color:       #ffffff; /* 5f6a72 */
}

.distill-site-footer {
  --text-color:       #5f6a72;
  --text-size:        15px;
  --hover-color:      black;
  --bkgd-color:       #ffffff;
  margin-top: 10px;
  padding-top: 10px;
  padding-bottom: 0px;
  position: fixed;
  bottom: 0;
}

/*-- Additional custom styles --*/
/* Add any additional CSS rules below                      */

.distill-site-header .title {
  min-width: 30px;
}

d-article {
  border-top: none;
  margin-top: 0px;
  padding-top: 0px;
}

d-article title {
  margin-bottom: 0px;
  padding-bottom: 0px;
}

d-article li {
  margin: 2px 0;
}
