<!-- bookme stuff -->
<!-- <script src="http://code.jquery.com/jquery-1.9.1.js"></script> -->
<!-- <script src="https://youcanbook.me/resources/scripts/ycbm.modal.js"></script> -->
<!-- <link rel="stylesheet" href="https://youcanbook.me/resources/css/simplemodal/simplemodal.css" type="text/css"/> -->



<!-- link to add academic icons -->
<link rel="stylesheet" href="../../static/site_libs/academicons-1.7.0/css/academicons.css"/>

<!-- javascript for tabs -->
<script type="text/javascript" language="JavaScript">
  function HideContent(d) {
  document.getElementById(d).style.display = "none";
  }
  function ShowContent(d) {
  document.getElementById(d).style.display = "block";
  }
  function ReverseDisplay(d) {
  if(document.getElementById(d).style.display == "none") { document.getElementById(d).style.display = "block"; }
  else { document.getElementById(d).style.display = "none"; }
  }
</script>