<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>{{ page.title }}</title>
        <meta name="viewport" content="width=device-width">

        <!-- syntax highlighting CSS -->
        <link rel="stylesheet" href="/css/syntax.css">

        <!-- Custom CSS -->
        <link rel="stylesheet" href="/bootstrap/css/bootstrap.min2.css">
        <!--<link rel="stylesheet" href="/css/marg.css"> -->

    </head>
    
    <body>

      <div class="container-fluid">
        <div class="row-fluid">
          <div class="span3">
            <div class="header">
              <h4 class="title-main">{{ site.name }}
              </h4>
            </div>
                
            <!--Sidebar content-->
            <div class="footer">
              <div class="contact">
                <p>PhD Student<br />
                  University of Arizona<br />
                  jvcasill@email.arizona.edu
                </p>
              </div>
              <div class="contact">
                <p>
                  <a href="http://github.com/jvcasill/">Github</a><br />
                  <a href="http://twitter.com/jvcasill/">Twitter</a><br />
                </p>
              </div>
            </div>
          </div>

          <div class="span8">
            <div class="site" align="justify">
              <div class="header">
                <h4 class="extra" ><a href="/">home</a>&#160;&#160;&#160;&#160;
                  <a href="/bio">bio</a>&#160;&#160;&#160;&#160;
                  <a href="/teaching">teaching</a>&#160;&#160;&#160;&#160;
                  <a href="/research">research</a>&#160;&#160;&#160;&#160;
                  <a href="/blog">blog</a>
                </h4>
              </div>

                {{ content }}
              <!--Body content-->
            </div>
          </div>
        </div>
      </div>
    </body>
</html>
