<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en-us">

  {% include head.html %}

  <body>

    {% include sidebar.html %}

    <!-- Wrap is the content to shift when toggling the sidebar. We wrap the
         content to avoid any CSS collisions with our real content. -->
    <div class="wrap">
      <div class="masthead">
        <div class="container">
          <h3 class="masthead-title">
            <a href="/" title="Home" style="float:left;">Joseph V. Casillas</a>

            <a alt="rss" href="http://github.com/jvcasill/" target='_new'><span class="showtooltip" title="rss feed"><img src="/assets/images/icons/rss.png" alt="rss image" height="35" width="35" style="float:right;"></span></a>
            <a alt="github" href="http://github.com/jvcasill/" target='_new'><span class="showtooltip" title="my code"><img src="/assets/images/icons/github-black.png" alt="github image" height="35" width="35" style="float:right; padding-right:3px;"></span></a>
            <a alt="facebook" href="http://facebook.com/jvcasill/" target='_new'><span class="showtooltip" title="more info"><img src="/assets/images/icons/facebook.png" alt="info image" height="35" width="35" style="float:right; padding-right:3px;"></span></a>
            <a alt="twitter" href="http://twitter.com/jvcasill/" target='_new'><span class="showtooltip" title="my twitter feed"><img src="/assets/images/icons/bird.png" alt="bird image" height="29" width="30" style="float:right; padding-top:7px; padding-right:3px;"></span></a>
            <a alt="youtube" href="http://www.youtube.com/jvcasill" target='_new'><span class="showtooltip" title="youtube channel"><img src="/assets/images/icons/youtube1.png" alt="info image" height="35" width="35" style="float:right; padding-right:3px;"></span></a>
            <a href="mailto:jvcasill@email.arizona.edu"><span class="mail me" title="email"><img src="/assets/images/icons/mail1.png" alt="info image" height="29" width="25" style="float:right; padding-top:7px; padding-right:3px;"></span></a>

            <small>{{ site.tagline }}</small>
          </h3>
        </div>
      </div>

      <div class="container content">
        {{ content }}
      </div>
    </div>

    <label for="sidebar-checkbox" class="sidebar-toggle"></label>

  </body>
</html>
