<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>{{ page.title }}</title>
        <meta name="viewport" content="width=device-width">

        <!-- syntax highlighting CSS -->
        <link rel="stylesheet" href="/css/syntax.css">

        <!-- Custom CSS -->
        <link rel="stylesheet" href="/bootstrap/css/bootstrap.min.css">
        <!--<link rel="stylesheet" href="/css/main.css"> -->

    </head>
    
    <body>

      <div class="container-fluid">
        <div class="row-fluid">
          <div class="span3">
              <div class="header">
                <h3 class="title"><a href="/">{{ site.name }}</a>
                </h3>
              </div>
                
            <!--Sidebar content-->
              <div class="footer">
                <div class="contact">
                  <p>PhD Student<br />
                    University of Arizona<br />
                    jvcasill@email.arizona.edu
                  </p>
                </div>
                <div class="contact">
                  <p>
                    <a href="http://github.com/jvcasill/">Github</a><br />
                    <a href="http://twitter.com/jvcasill/">Twitter</a><br />
                  </p>
                </div>
              </div>
          </div>

          <div class="span8">
            <div class="site">
              <div class="header">
                <h3 class="extra"><a href="/">home</a> |
                  class="extra"><a href="/bio">bio</a> |
                  class="extra"><a href="/teaching">teaching</a> |
                  class="extra"><a href="/research">research</a> |
                  class="extra"><a href="/blog">blog</a>
                </h3>
              </div>

                {{ content }}
              <!--Body content-->
            </div>
          </div>
        </div>
      </div>
    </body>
</html>
